/* font-heading is a mixin, because headings have more than just a font-family */
/* Modular scale */
/*
    CSS Reset by ajk (http://ajk.im/)
    Based on http://necolas.github.com/normalize.css/
*/
/* line 11, ../sass/base/_reset.scss */
html, body, div,
span, object, iframe,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, sub, sup, var, b, i,
article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 16, ../sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 17, ../sass/base/_reset.scss */
fieldset, img {
  border: 0;
}

/* HTML5 */
/* line 20, ../sass/base/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
  display: block;
}

/* line 23, ../sass/base/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 28, ../sass/base/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 33, ../sass/base/_reset.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  /* Force scrollbars 100% of the time */
}

/* line 37, ../sass/base/_reset.scss */
html, body {
  min-height: 100%;
}

/* line 41, ../sass/base/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* line 44, ../sass/base/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* line 48, ../sass/base/_reset.scss */
img::-moz-selection {
  background: transparent;
}

/* line 51, ../sass/base/_reset.scss */
img::selection {
  background: transparent;
}

/* line 55, ../sass/base/_reset.scss */
pre {
  white-space: pre;
  /* ? */
  white-space: pre-wrap;
  /* CSS3 browsers  */
  white-space: -moz-pre-wrap !important;
  /* 1999+ Mozilla  */
  white-space: -pre-wrap;
  /* Opera 4 thru 6 */
  white-space: -o-pre-wrap;
  /* Opera 7 and up */
  word-wrap: break-word;
  /* IE 5.5+ and up */
  -ms-word-break: normal;
  word-break: normal;
  word-break: normal;
  /* old webkit */
}

/* line 67, ../sass/base/_reset.scss */
pre, code, kbd, samp {
  font: 1em/1.625em Menlo, Consolas, "DejaVu Sans Mono", Monaco, "Courier New", Courier, monospace;
}

/* line 71, ../sass/base/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 76, ../sass/base/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
}

/* line 81, ../sass/base/_reset.scss */
button, input, select, textarea {
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 86, ../sass/base/_reset.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 91, ../sass/base/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 96, ../sass/base/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 100, ../sass/base/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 107, ../sass/base/_reset.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Ensures hidden content is hidden from all presentations, including screenreaders */
/* line 112, ../sass/base/_reset.scss */
[hidden] {
  display: none;
  visibility: hidden;
}

/* line 117, ../sass/base/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7 */
/* line 123, ../sass/base/_reset.scss */
table button, table input {
  *overflow: auto;
}

/* line 127, ../sass/base/_reset.scss */
ul, ol {
  padding: 0 0 0 1.4em;
}

/* line 131, ../sass/base/_reset.scss */
dl dd {
  margin-left: 1.625em;
}

/* line 135, ../sass/base/_reset.scss */
img, object, video {
  max-width: 100%;
  /* Automatically scales images larger than the container. Consider this first: http://unstoppablerobotninja.com/entry/fluid-images/ */
  /* _width: 100%; /* IE6 doesn't support max-width, so we just use width. If the image is larger than the container, just uncomment this. If it is smaller than the container, uncomment and change the 100% value to an absolute one */
}

/* line 140, ../sass/base/_reset.scss */
img {
  -ms-interpolation-mode: bicubic;
  /* Improve IE's resizing of images: css-tricks.com/ie-fix-bicubic-scaling-for-images */
}

/* Corrects overflow displayed oddly in IE9 */
/* line 145, ../sass/base/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 149, ../sass/base/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 154, ../sass/base/_reset.scss */
mark {
  background: #ff0;
}

/* line 158, ../sass/base/_reset.scss */
ins {
  text-decoration: none;
  background: #ff9;
}

/* line 163, ../sass/base/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 167, ../sass/base/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-bottom: 1px solid #ddd;
}

/* line 174, ../sass/base/_reset.scss */
strong, b, dt {
  font-weight: bold;
}

/* line 178, ../sass/base/_reset.scss */
dfn {
  font-style: italic;
}

/* line 182, ../sass/base/_reset.scss */
var, address {
  font-style: normal;
}

/* Position 'sub' and 'sup' without affecting line-height: gist.github.com/413930 */
/* line 187, ../sass/base/_reset.scss */
sub, sup {
  font-size: 0.625em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 194, ../sass/base/_reset.scss */
sup {
  top: -0.5em;
}

/* line 197, ../sass/base/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 3, ../sass/base/_common.scss */
.image-replacement {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

/* line 9, ../sass/base/_common.scss */
.clearfix, .wrapper, .row, .site-header {
  *zoom: 1;
}
/* line 12, ../sass/base/_common.scss */
.clearfix:before, .wrapper:before, .row:before, .site-header:before, .clearfix:after, .wrapper:after, .row:after, .site-header:after {
  content: "";
  display: table;
}
/* line 16, ../sass/base/_common.scss */
.clearfix:after, .wrapper:after, .row:after, .site-header:after {
  clear: both;
}

/* line 21, ../sass/base/_common.scss */
.disable-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 30, ../sass/base/_common.scss */
.fb-like-button-container {
  width: 240px;
  position: absolute;
  top: 1.5em;
  right: 0;
}
/* line 36, ../sass/base/_common.scss */
.fb-like-button-container div {
  margin: 0 10px 0 0;
  width: 100px;
  height: 25px;
}

/* line 43, ../sass/base/_common.scss */
.bottom-bar {
  text-align: center;
  display: block;
  clear: both;
}

/* line 49, ../sass/base/_common.scss */
.topical {
  font-style: italic;
  color: #343434;
  font-size: 1.4em;
}

/* line 55, ../sass/base/_common.scss */
.front-page-content {
  width: 38.75em;
  display: inline-block;
  float: left;
}

/* line 61, ../sass/base/_common.scss */
.front-page-sidebar {
  background-color: #f4ecf9;
  width: 18.75em;
  display: inline-block;
  vertical-align: top;
  float: left;
  margin-left: 20px;
}

/* line 70, ../sass/base/_common.scss */
.article-content {
  padding: 20px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #ffffff), color-stop(100%, #f5f5f5));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff, #f5f5f5);
  background-image: -moz-linear-gradient(#ffffff, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(#ffffff, #ffffff, #f5f5f5);
  background-image: linear-gradient(#ffffff, #ffffff, #f5f5f5);
}
/* line 74, ../sass/base/_common.scss */
.article-content h3 {
  color: #794590;
}
@media (max-width: 480px) {
  /* line 70, ../sass/base/_common.scss */
  .article-content {
    max-width: 280px;
  }
}

/* line 83, ../sass/base/_common.scss */
.highlight {
  background-color: #fef5d3;
}

/* line 87, ../sass/base/_common.scss */
.announcement {
  text-align: center;
  margin: 4.5em 0;
}
/* line 89, ../sass/base/_common.scss */
.announcement a {
  font-size: 1.7em;
  color: #9b7fb2;
  font-style: italic;
  font-weight: 600;
}

/* line 98, ../sass/base/_common.scss */
.fb-like-box-container {
  padding: 1.5em 2px;
  text-align: center;
}

/* line 103, ../sass/base/_common.scss */
.fb-like-box {
  width: 292px;
  background-color: white;
}

/* line 108, ../sass/base/_common.scss */
#map_canvas {
  width: 58.75em;
  height: 600px;
}

/* line 113, ../sass/base/_common.scss */
div.mapInfo {
  width: 300px;
  margin: 0;
}

/* line 118, ../sass/base/_common.scss */
div.mapInfo img {
  width: 250px;
  height: 157px;
  margin: 0;
}

/* line 124, ../sass/base/_common.scss */
div.description {
  padding-left: 45px;
  padding-right: 45px;
  margin-bottom: 8px;
}

/* line 130, ../sass/base/_common.scss */
img.management {
  float: left;
  margin-right: 20px;
}

/* line 135, ../sass/base/_common.scss */
.largebutton {
  -moz-box-shadow: inset 0px 1px 0px 0px #e184f3;
  -webkit-box-shadow: inset 0px 1px 0px 0px #e184f3;
  box-shadow: inset 0px 1px 0px 0px #e184f3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c123de), color-stop(1, #a20dbd));
  background: -moz-linear-gradient(center top, #c123de 5%, #a20dbd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c123de', endColorstr='#a20dbd');
  background-color: #c123de;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #a511c0;
  display: inline-block;
  color: #ffffff;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #9b14b3;
}

/* line 155, ../sass/base/_common.scss */
.largebutton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a20dbd), color-stop(1, #c123de));
  background: -moz-linear-gradient(center top, #a20dbd 5%, #c123de 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a20dbd', endColorstr='#c123de');
  background-color: #a20dbd;
}

/* line 160, ../sass/base/_common.scss */
.largebutton:active {
  position: relative;
  top: 1px;
}

/* line 163, ../sass/base/_common.scss */
.largebutton:visited {
  color: #ffffff;
}

/* This imageless css button was generated by CSSButtonGenerator.com */
/* line 168, ../sass/base/_common.scss */
.largebutton:link {
  color: #fff;
}

/* line 172, ../sass/base/_common.scss */
.largebutton:visited {
  color: #fff;
}

/* line 2, ../sass/base/_base.scss */
html {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  /* Inflate text size on mobiles by full increments only */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 0.8em;
}
@media (min-width: 33.75em) {
  /* line 2, ../sass/base/_base.scss */
  html {
    font-size: 1em;
  }
}
/* line 17, ../sass/globals/_breakpoints.scss */
.oldie html {
  font-size: 1em;
}

/* line 17, ../sass/base/_base.scss */
.wrapper, .row {
  margin: 0 auto;
  max-width: 68.75em;
}

/* line 23, ../sass/base/_base.scss */
.container {
  position: relative;
  max-width: 58.75em;
  margin: 0 auto;
}

@media (min-width: 48.75em) {
  /* line 29, ../sass/base/_base.scss */
  .row > div {
    float: right;
    width: 23.75em;
  }
}
/* line 13, ../sass/globals/_breakpoints.scss */
.oldie .row > div {
  float: right;
  width: 23.75em;
}

@media (min-width: 48.75em) {
  /* line 35, ../sass/base/_base.scss */
  .row > div:first-child {
    float: left;
  }
}
/* line 13, ../sass/globals/_breakpoints.scss */
.oldie .row > div:first-child {
  float: left;
}

/* some space at the sides by default */
/* line 42, ../sass/base/_base.scss */
body > * {
  padding-left: 1.17188em !important;
  padding-right: 1.17188em !important;
}
@media (max-width: 480px) {
  /* line 42, ../sass/base/_base.scss */
  body > * {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
}

/* line 2, ../sass/base/_typography.scss */
body {
  font: 100%/1.5 "Source Sans Pro", sans-serif;
}

/* line 5, ../sass/base/_typography.scss */
body, input, textarea {
  color: #333333;
}

/* line 8, ../sass/base/_typography.scss */
input, textarea {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 13, ../sass/base/_typography.scss */
textarea {
  line-height: 1.5em;
}

/* margins */
/* line 18, ../sass/base/_typography.scss */
ol, ul, p, pre, table, form, img {
  margin: 0 0 1.5em;
}

/* line 23, ../sass/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #78468f;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-weight: 600;
}

/* line 28, ../sass/base/_typography.scss */
h1, .fake-h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin: 0 0 0.75em;
}

/* line 33, ../sass/base/_typography.scss */
h2, .fake-h2 {
  font-size: 2em;
  line-height: 1.5em;
  margin: 0 0 0.75em;
}

/* line 38, ../sass/base/_typography.scss */
h3, .fake-h3 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 0 0 1.2em;
}

/* line 43, ../sass/base/_typography.scss */
h4, .fake-h4 {
  font-size: 1em;
  margin: 0 0 1.5em;
}

/* line 47, ../sass/base/_typography.scss */
h5, .fake-h5 {
  font-size: 1em;
  margin: 0 0 1.5em;
}

/* line 51, ../sass/base/_typography.scss */
h6, .fake-h6 {
  font-size: 0.75em;
  margin: 0 0 2em;
}

/* line 55, ../sass/base/_typography.scss */
h5, h6 {
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

/* line 61, ../sass/base/_typography.scss */
a {
  color: #1177cc;
  text-decoration: none;
}

/* line 65, ../sass/base/_typography.scss */
a:hover {
  border-color: #aa5533;
  color: #aa5533;
}

/* line 69, ../sass/base/_typography.scss */
a:active, a:focus {
  opacity: .7;
}

/* line 73, ../sass/base/_typography.scss */
blockquote {
  border-left: 0.125em solid #bbb;
  color: #888888;
  margin: 0 0 1.5em;
  padding-left: 2em;
}

/* line 80, ../sass/base/_typography.scss */
pre, code, tt {
  font: 1em/1.3 "Ubuntu Mono", Consolas, "DejaVu Sans Mono", Monaco, "Courier New", Courier, monospace;
}

/* line 83, ../sass/base/_typography.scss */
code {
  display: inline;
  font-weight: 600;
}

/* line 87, ../sass/base/_typography.scss */
pre code {
  background: transparent;
  border: 0;
  display: block;
  font-weight: 400;
  padding: 0;
}

/* line 94, ../sass/base/_typography.scss */
pre {
  overflow-x: auto;
}

/* line 99, ../sass/base/_typography.scss */
small {
  font-size: 0.85em;
}

/* Media object (http://stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code) */
/* line 3, ../sass/base/_abstractions.scss */
.media {
  display: block;
}

/* line 6, ../sass/base/_abstractions.scss */
.media .img {
  float: left;
  margin-right: 1em;
}

/* line 10, ../sass/base/_abstractions.scss */
.media .img img {
  display: block;
}

/* Reversed image location (right instead of left). */
/* line 14, ../sass/base/_abstractions.scss */
.img-rev {
  float: right;
  margin-left: 1em;
}

/* line 18, ../sass/base/_abstractions.scss */
.media .body {
  overflow: hidden;
}

/* line 21, ../sass/base/_abstractions.scss */
.media .body > :last-child {
  margin-bottom: 0;
}

/* The nav abstraction (http://csswizardry.com/2011/09/the-nav-abstraction/) */
/* line 27, ../sass/base/_abstractions.scss */
.nav, [class|="nav"] {
  list-style: none;
  margin-left: 0;
}
/* line 31, ../sass/base/_abstractions.scss */
.nav li, [class|="nav"] li {
  display: inline;
}
/* line 35, ../sass/base/_abstractions.scss */
.nav a, [class|="nav"] a {
  display: inline-block;
}

/* line 1, ../sass/base/_responsive.scss */
.show-on-small-screen {
  display: none;
}

/* line 5, ../sass/base/_responsive.scss */
.only-on-small-screen {
  display: none;
}

@media (max-width: 480px) {
  /* line 10, ../sass/base/_responsive.scss */
  .only-on-small-screen {
    display: inline;
  }

  /* line 13, ../sass/base/_responsive.scss */
  .show-on-small-screen {
    display: inline;
  }

  /* line 16, ../sass/base/_responsive.scss */
  .hide-on-small-screen {
    display: none;
  }

  /* line 19, ../sass/base/_responsive.scss */
  .main-nav li {
    display: inline-block;
    margin-left: 4px;
  }
}
/* line 7, ../sass/components/_buttons.scss */
.btn, button, input[type="submit"] {
  background: #fafafa;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  border: 0.07143em solid #bdbdbd;
  border-color: #cecece #bdbdbd #aeaeae;
  border-radius: 0.21429em;
  color: #707070;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 0.875em;
  line-height: 1.71429em;
  font-weight: 700;
  margin: 0 0 1.5em;
  padding: 0.42857em 1em;
  text-decoration: none;
  text-shadow: 0 0.07143em 0 white;
  -webkit-appearance: none;
  -webkit-transition: 125ms;
  -moz-transition: 125ms;
  -o-transition: 125ms;
  transition: 125ms;
}
/* line 30, ../sass/components/_buttons.scss */
.btn:hover, .btn:active, .btn.act, button:hover, button:active, button.act, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"].act {
  border-color: #a0a0a0;
  color: #444;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
/* line 36, ../sass/components/_buttons.scss */
.btn:active, .btn.act, button:active, button.act, input[type="submit"]:active, input[type="submit"].act {
  background: #ddd;
  background-image: -webkit-linear-gradient(top, #d1d1d1, #f1f1f1);
  background-image: -moz-linear-gradient(top, #d1d1d1, #f1f1f1);
  background-image: -o-linear-gradient(top, #d1d1d1, #f1f1f1);
  background-image: -ms-linear-gradient(top, #d1d1d1, #f1f1f1);
  background-image: linear-gradient(top, #d1d1d1, #f1f1f1);
  -webkit-box-shadow: inset 0 -1px 4px rgba(0, 0, 0, 0.15), inset 0 2px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 4px rgba(0, 0, 0, 0.15), inset 0 2px 1px rgba(0, 0, 0, 0.15);
}
/* line 51, ../sass/components/_buttons.scss */
.btn:disabled, .btn[disabled=disabled], .btn.disabled, .btn:disabled:hover, .btn[disabled=disabled]:hover, .btn.disabled:hover, .btn:disabled:active, .btn[disabled=disabled]:active, .btn.disabled:active, button:disabled, button[disabled=disabled], button.disabled, button:disabled:hover, button[disabled=disabled]:hover, button.disabled:hover, button:disabled:active, button[disabled=disabled]:active, button.disabled:active, input[type="submit"]:disabled, input[type="submit"][disabled=disabled], input[type="submit"].disabled, input[type="submit"]:disabled:hover, input[type="submit"][disabled=disabled]:hover, input[type="submit"].disabled:hover, input[type="submit"]:disabled:active, input[type="submit"][disabled=disabled]:active, input[type="submit"].disabled:active {
  background: #e2e2e2;
  border-color: #cecece #bdbdbd #aeaeae;
  cursor: default;
  color: #888;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 1, ../sass/components/_forms.scss */
legend {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin: 0 0 1.5em;
}

/* line 6, ../sass/components/_forms.scss */
label {
  font-weight: 600;
}

/* line 9, ../sass/components/_forms.scss */
label + label {
  margin-left: 0.9375em;
}

/* line 20, ../sass/components/_forms.scss */
[type="text"], [type="password"], textarea {
  background: #fff;
  border: 0.07143em solid #c9c9c9;
  border-radius: 3px;
  font-size: 0.875em;
  margin: 0 0 1.5em;
  outline: 0;
  padding: 0.375em 0.375em;
  -webkit-transition: border 125ms ease;
  -moz-transition: border 125ms ease;
  -o-transition: border 125ms ease;
  transition: border 125ms ease;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.08), 0 1px 0 white;
  -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.08), 0 1px 0 white;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.08), 0 1px 0 white;
}
/* line 32, ../sass/components/_forms.scss */
[type="text"]:hover, [type="password"]:hover, textarea:hover {
  border-color: #b5b5b5;
}
/* line 36, ../sass/components/_forms.scss */
[type="text"]:focus, [type="password"]:focus, textarea:focus {
  border-color: #17c;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 1px 0 white;
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 1px 0 white;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 1px 0 white;
}

/* line 46, ../sass/components/_forms.scss */
select {
  margin: 0 0 1.5em;
}

/* line 54, ../sass/components/_forms.scss */
[type="checkbox"] {
  margin: 0 0 1.5em;
}

/* line 4, ../sass/components/_tables.scss */
table {
  width: 100%;
}

/* line 7, ../sass/components/_tables.scss */
th {
  background: #eaeaea;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 0.85em;
  font-weight: 700;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

/* line 15, ../sass/components/_tables.scss */
tr {
  background: #fafafa;
}

/* line 18, ../sass/components/_tables.scss */
tr:nth-child(even) {
  background: #f1f1f1;
}

/* line 21, ../sass/components/_tables.scss */
th, td {
  padding: 0.75em 16px;
}

/* line 24, ../sass/components/_tables.scss */
tbody {
  color: #555;
  font-size: 0.875em;
}
/* line 28, ../sass/components/_tables.scss */
tbody td {
  vertical-align: middle;
}

/* line 1, ../sass/components/_nav.scss */
.nav-main-shade {
  background: url("../img/navi-shade.png");
  height: 15px;
  margin-bottom: 16px;
}

/* line 7, ../sass/components/_nav.scss */
.nav, [class|="nav"] {
  padding-left: 0;
}

/* line 11, ../sass/components/_nav.scss */
.nav-main {
  background: url("../img/navi-bg.png");
  width: 100%;
  margin: 0;
}
/* line 15, ../sass/components/_nav.scss */
.nav-main li:first-child {
  margin-left: 3.75em;
}
/* line 19, ../sass/components/_nav.scss */
.nav-main a {
  border: 0;
  margin-left: 16px;
  color: #fff;
  height: 33px;
  padding: 10px 8px 0px 8px;
  font-size: 13pt;
}
/* line 21, ../sass/components/_nav.scss */
.nav-main a:hover {
  background: #ccaeda;
}
/* line 29, ../sass/components/_nav.scss */
.nav-main a.selected {
  background: url("../img/navi-selected-bg.png");
  font-weight: 700;
}

/* line 38, ../sass/components/_nav.scss */
.nav-breadcrumb li + li:before {
  content: "\00bb";
  margin-right: .3em;
}

/* line 1, ../sass/components/_site-header.scss */
.site-header {
  padding-top: 0;
  margin-top: 0.75em;
}

/* line 7, ../sass/components/_site-header.scss */
.header-img-container {
  height: 260px;
  width: 1100px;
}
/* line 11, ../sass/components/_site-header.scss */
.header-img-container img {
  margin: 0;
}

/* line 1, ../sass/components/_site-footer.scss */
.site-footer {
  background: url("../img/footer-bg.png");
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 149px;
}
/* line 9, ../sass/components/_site-footer.scss */
.site-footer a {
  color: #333333;
}
/* line 13, ../sass/components/_site-footer.scss */
.site-footer p {
  font-size: 0.75em;
  margin: 0;
}

/* line 19, ../sass/components/_site-footer.scss */
footer {
  font-size: 1.0em;
  padding: 0;
  margin: 0.75em 0;
  text-align: center;
}
/* line 25, ../sass/components/_site-footer.scss */
footer h4 {
  font-size: 1.0em;
  color: #ffffff;
  margin-bottom: 6px;
}
/* line 31, ../sass/components/_site-footer.scss */
footer .footer-logo {
  float: left;
  margin-left: 3.75em;
  margin-top: 0.75em;
  width: 8.75em;
}
/* line 37, ../sass/components/_site-footer.scss */
footer .footer-logo img {
  margin: 0;
}
/* line 42, ../sass/components/_site-footer.scss */
footer .address-info {
  text-align: left;
  float: left;
  margin: 1.5em 0 0 20px;
  color: white;
}
/* line 49, ../sass/components/_site-footer.scss */
footer .slogan {
  font-size: 1em;
  color: white;
  font-style: italic;
  font-weight: bold;
  float: right;
  margin-right: 18.75em;
  margin-top: 2.25em;
}

/* breaks long words. note: breaks may be in funny places :) */
/* line 3, ../sass/components/_other.scss */
.break-words {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  /* old webkit */
}

/* hide stuff without resorting to display:none; */
/* line 10, ../sass/components/_other.scss */
.hide {
  visibility: hidden;
  width: 0!important;
  height: 0!important;
  line-height: 0!important;
  padding: 0!important;
  margin: 0!important;
}

/* Pretty &amp; s */
/* line 13, ../sass/components/_other.scss */
.amp {
  font-family: 'Goudy Old Style', Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
  font-style: italic;
}
