.nav-main-shade {
    background: url("../img/navi-shade.png");
    height: 15px;
    margin-bottom: 16px;
}

.nav, [class|="nav"] {
    padding-left: 0;
}

.nav-main {
    background: url("../img/navi-bg.png");
    width: 100%;

    li:first-child {
        margin-left: $cols1;
    }

    a {
        border: 0;
        &:hover { background: $hnvlilalighter; }
        margin-left: 16px;
        color: #fff;
        height: 33px;
        padding: 8px 8px 0px 8px;
        font-size: 13pt;
    }

    a.selected {
        background: url("../img/navi-selected-bg.png");
        font-weight: 700;
    }

    margin: 0;

}

.nav-breadcrumb li + li:before {
    content: "\00bb";
    margin-right: .3em;
}
