.site-footer {
    background: url("../img/footer-bg.png");
    color: #fff;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 149px;

    a {
       color: $color-text;
    }

    p {
        font-size: 0.75em;
        margin: 0;
    }
}

footer {
    font-size: 1.0em;
    padding: 0;
    margin: $baseline/2 0;
    text-align:center;

    h4 {
        font-size:1.0em;
        color: #ffffff;
        margin-bottom: 6px;
    }

    .footer-logo {
        float: left;
        margin-left: $cols1;
        margin-top: $baseline/2;
        width: $cols2;

        img {
          margin: 0;
        }
    }

    .address-info {
        text-align: left;
        float: left;
        margin: $baseline 0 0 $gutter;
        color: white;
    }

    .slogan {
        font-size:1em;
        color: white;
        font-style: italic;
        font-weight: bold;
        float: right;
        margin-right: $cols4;
        margin-top: $baseline*1.5;
    }
}
